@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<form asp-controller="Things" asp-action="Index" method="get">
    <p>
        Filtrar por categoria:
        <input type="text" name="search" placeholder="Introduzca una categoria" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                   @* <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>